<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jxccp.ui"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <application>
        <activity
            android:name=".view.JXInitActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.JXChatUIActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.jxccp.ui.view.JXPhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/JXAppTheme.TransparentActivity"></activity>
        <activity
            android:name="com.jxccp.ui.view.JXWebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.jxccp.ui.view.JXLeaveMsgActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.jxccp.ui.view.JXRecorderVideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <service android:name="com.jxccp.ui.service.CustomerService"></service>
        <service
            android:name="com.jxccp.im.chat.JXCoreService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.jxccp.im.chat.JXCoreService" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.akfileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 多媒体权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.audio.low_latency"
        android:required="false" />
</manifest>